<section id="intro">
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>{{ .Site.Params.description }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--vim: set ft=html5 :-->

